{% extends "template.html" %}
{% block title %}Bulk Contacts{% endblock %}
{% block pageName %}Bulk contacts{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <span>{{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <div>
                <div class="row text-break justify-content-center">
                    <div class="col-11 col-md-9 col-xl-8">
                        <form action="{{url_for('addBulkContacts')}}" method="post" enctype="multipart/form-data">
                            <div class="form-group"><label for="signature"><strong>Add contacts file</strong><br></label><input class="form-control-file" type="file" accept=".xlsx, .xls, .xlm" name="bulkContacts" required=""></div><span style="font-weight: bold;">Select Group</span>
                            <hr>
                            <div class="form-group">
                                <div class="col">
                                    {% for item in groups %}
                                    <div class="custom-control custom-radio"><input class="custom-control-input" type="radio" id="formCheck-{{item.id}}" style="box-shadow: 0px 0px;" name="group_id" required="" value="{{item.id}}"><label class="custom-control-label" for="formCheck-{{item.id}}">{{item.name}}</label></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Add Contacts</button>
                                <div class="form-row">
                                    <div class="col text-break"><span><strong><span style="text-decoration: underline;">RULES</span></strong></span>
                                        <ol>
                                            <li>All data should belong to <b>one</b> group</li>
                                            <li>The file being uploaded should be an <b>excel</b> file and all data shoud be on the first sheet</li>
                                            <li>The file should have two columns named <b>NAME</b> and <b>CONTACT</b> in caps. </li>
                                            <li>Phone numbers should be in the 0241234567 format</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    
{% endblock %}