{% extends "template.html" %}
{% block title %}Add Contact{% endblock %}
{% block pageName %}Add New Contact{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('addContact') }}" method="post">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><label for="username"><strong>Name</strong></label><input class="form-control" type="text" id="username" placeholder="Name" name="name" value="{{name}}"></div>
                    </div>
                    <div class="col">
                        <div class="form-group"><label for="email"><strong>Phone Number</strong><br></label><input class="form-control" type="tel" name="phone_number" placeholder="phone Number" value="{{number}}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><label for="first_name"><strong>Contact group</strong><br></label><select class="form-control" name="group">
                                <optgroup label="Select Group">
                                    {%for item in groups%}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                    {%endfor%}
                                    <!-- <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option> -->
                                </optgroup>
                            </select></div>
                    </div>
                    <div class="col">
                        <div class="form-group"></div>
                    </div>
                </div>
                <div class="form-group"><button class="btn btn-primary" type="submit">Add contact</button></div>
            </form>
        </div>
    </div>
    
{% endblock %}
{% block scripts %}
    
{% endblock %}