{% extends "template.html" %}
{% block title %}Change Password{% endblock %}
{% block pageName %}Change Password{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <form action="{{ url_for('changePassword') }}" method="post">
                <div class="form-row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="form-group"><label for="username"><strong>Current Password</strong></label><input class="form-control" type="password" name="password" placeholder="enter current password"></div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="form-row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="form-group"><label for="newPassword"><strong>New Password</strong></label><input class="form-control" type="password" name="newPassword" id="newPassword" placeholder="enter new password"></div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="form-row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="form-group"><label for="confirmPassword"><strong>Confirm New Password</strong></label><input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm new password"></div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="form-row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="form-group"><button class="btn btn-primary" id='submit' type="submit">save</button></div>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </div>  
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            var password = $("#newPassword").val();
            var confirmPassword = $("#confirmPassword").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
{% endblock %}