{% extends "template.html" %}
{% block title %}Quick SMS{% endblock %}
{% block pageName %}SEND SMS{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div>
                <div class="row text-break justify-content-center">
                    <div class="col-11 col-md-9 col-xl-8">
                        <form method="post" action="{{url_for('quickSMS')}}">
                            <div class="form-group"><label for="message"><strong>Message</strong><br></label><textarea class="form-control form-control-lg" id="message" rows="4" name="message" onkeyup="keyup(this);" autocomplete="on" maxlength="160" required="" placeholder="type sms here">{{message}}</textarea></div>
                            <div ><small id="txtmsg">0/160 characters</small></div>
                            <div class="form-group"><label for="contacts"><strong>contacts</strong><br></label><textarea class="form-control" id="contacts" rows="4" name="contacts">{{contacts}}</textarea><span style="text-align: center;"><small>separate different contacts with a coma ","</small></span></div><span style="font-weight: bold;">Select groups</span>
                            <hr>
                            <div class="form-group">
                                <div class="col">
                                    {%for item in groups%}
                                    <div class="custom-control custom-switch"><input class="custom-control-input" type="checkbox" id="{{item.name}}" name="groups" value="{{item.id}}"><label class="custom-control-label" for="{{item.name}}"><strong>{{item.name}}</strong><br></label></div>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Send SMS</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    function txtshow(txt2show) {
        document.getElementById('txtmsg').innerHTML = txt2show;
    }
    
    function keyup(what) {
        const maxKeys = 160;
        let str = new String(what.value);
        let len = str.length;
        let showstr = `${len}/${maxKeys} character Limit`;
        if (len > maxKeys) {
            showstr += '<br>Exceeding the limit will resolve in being charged twice per message';
        }
    
        txtshow(showstr);
    }
    </script>
{% endblock %}